<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :player_name %>
  </div>

  <div class="field">
    <%= form.label :avatar_url %>
    <%= form.text_field :avatar_url, id: :player_avatar_url %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :player_country %>
  </div>

  <div class="field">
    <%= form.label :achievement %>
    <%= form.text_area :achievement, id: :player_achievement %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, id: :player_birthday %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id, id: :player_team_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
