<p id="notice"><%= notice %></p>

<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1"><%= t("players") %></h5>
    <div class="row">
      <% @players.each do |player| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-without-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p class="playerShirt">
                      <img class="img-fluid" src="<%= image_url("soccer_shirt.png") %>" alt="card image">
                      <span class="playerNumber
                        <% if (player.number || 99) < 10 %>smallNumber
                        <% end %>"><%= player.number || 99 %></span>
                    </p>
                    <h4 class="card-title"><%= player.name %></h4>
                    <p class="card-text">
                      <%= t('country') %>:  <%= player.country %><br>
                      <%= t('birthday') %>: <%= player.birthday %><br>
                      <%= t('position') %>: <%= t(player.position) %><br>
                      <%= t('team') %>: <%= player.team.name %>
                      <img src="<%= player.team.logo_url %>" alt="<%= player.team.name %>">
                    </p>
                    <div class="actions">
                      <a class="social-icon text-xs-center" target="_blank" href="<%= player_path(player) %>">
                        <i class="fa fa-eye"></i> <%= t("view") %>
                      </a>
                      <a class="social-icon text-xs-center" target="_blank" href="<%= edit_player_path(player) %>">
                        <i class="fa fa-edit"></i> <%= t("edit") %>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<br>

<%= link_to 'New Player', new_player_path %>
